<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Log In</h1>
      <form [formGroup]="Form" (ngSubmit)="submitForm()">
        <div class="row mb-3">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="First name"
              aria-label="First name"
              formControlName="fname"
              minlength="3"
            />
            @if (Form.get('fname')?.hasError('minlength') && Form.get('fname')?.dirty) {
              <div class="alert alert-danger" role="alert">
                The first name must have a minimum of 3 letters.
              </div>
            }
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Last name"
              aria-label="Last name"
              formControlName="lname"
              minlength="3"
            />
            @if (Form.get('lname')?.hasError('minlength') && Form.get('lname')?.dirty) {
              <div class="alert alert-danger" role="alert">
                The last name must have a minimum of 3 letters.
              </div>
            }
          </div>
          <div class="col-md-2">
            <input
              type="number"
              class="form-control"
              placeholder="Age"
              aria-label="Age"
              formControlName="age"
              min="0"
              max="99"
            />
            @if (Form.get('age')?.hasError('min') && Form.get('age')?.dirty) {
              <div class="alert alert-danger" role="alert">Age from 5 years.</div>
            }
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              aria-label="Email"
              formControlName="email"
            />
            @if (Form.get('email')?.hasError('email')) {
              <div class="alert alert-danger" role="alert">Invalid email.</div>
            }
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              aria-label="Password"
              formControlName="password"
              minlength="8"
            />
            @if (Form.get('password')?.hasError('pattern')) {
              <div class="alert alert-danger" role="alert">
                The password must have at least a capital letter and a number.
              </div>
            }
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <input
              type="password"
              class="form-control"
              placeholder="Verify password"
              aria-label="VPassword"
              formControlName="vpassword"
            />
            @if (Form.hasError('passwordError') && Form.get('vpassword')?.dirty) {
              <div class="alert alert-danger" role="alert">Passwords must be the same.</div>
            }
          </div>
        </div>

        <div class="d-grid gap-2">
          <button type="submit" [disabled]="Form.invalid" class="btn btn-primary">
            {{ editingUser ? 'Actualizar' : 'Sign in' }}
          </button>

          @if (editingUser) {
            <button type="button" class="btn btn-secondary mt-2" (click)="cancelEdit()">
              Cancelar
            </button>
          }
        </div>
      </form>

      <!-- TABLA -->

      <h1>Users [ {{formData.length}} ]</h1>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search user"
          (input)="searchUser($event)"
        />
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          @for (item of filteredFormData; track item.email; let i = $index) {
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.lname }} {{ item.fname }}</td>
              <td>{{ item.age }}</td>
              <td>{{ item.email }}</td>
              <td>
                <button class="btn btn-warning me-2" (click)="editUser(item)">
                  Editar
                </button>
                <button class="btn btn-danger" (click)="deleteUser($event, i)">
                  Eliminar
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
